
@{
    ViewBag.Title = "Send";
}

<h2>Send</h2>
@model  DawV2.Models.FriendshipRequest

<form method="post" action="/FriendshipRequest/Send/@ViewBag.id">
    @Html.LabelFor(x => x.Message, "Mesaj cerere")
    <br />
    @Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
    <br />
    <button class="btn btn-success" type="submit">Trimite Cerere</button>
    <a class="btn btn-info pull-right" href="/FriendshipRequest/Index">Back to Requests</a>
</form>