@using DawV2.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h1> Notificarile mele </h1> <br />
@foreach (Notice notice in ViewBag.Notices)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>@notice.Content</strong>
        </div>
        <div class="panel-heading">
            <a class="btn btn-primary btn-sm" href="/Notice/OkIt/@notice.NoticeId"> Ok </a>
        </div>
    </div>
}
<a class="btn btn-primary" href="/Users/Show/@User.Identity.GetUserId()"> Inapoi la pagina de profil </a>