
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<div class="container-fluid bg-info" style="margin-top: 20px; padding-bottom: 15px">
    <h1>@Model.GroupName</h1>
    <h3>@Model.Description</h3>
    <a href="/Groups/Edit/@Model.GroupId" class="btn btn-info">Edit</a>
    <a class="btn btn-success pull-right" href="/Groups/Index">Back to groups</a>
</div>
<hr />

@foreach (var message in Model.GroupMessages)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 bg-success">
                <div>
                    <div style="text-align: center">@message.Message</div>
                    @if (message.IsEdited)
                    {
                        <div class="pull-right" style="display: inline-block; float: left; margin-right: 15px">
                            <div class="glyphicon glyphicon-asterisk"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}